# Tavily API Key
TAVILY_API_KEY=your_tavily_api_key_here

# Backend API URL
VITE_API_URL=http://localhost:3001

VITE_FIREBASE_API_KEY=values here
VITE_FIREBASE_AUTH_DOMAIN=values here
VITE_FIREBASE_PROJECT_ID=values here
VITE_FIREBASE_STORAGE_BUCKET=values here
VITE_FIREBASE_MESSAGING_SENDER_ID=values here
VITE_FIREBASE_APP_ID=values here